@model PetShop.Models.Cliente

<div class="row">
    <div class="col-sm-1">
        <h1>@Model.Id</h1>
    </div>
    <div class="col-sm-7">
        <h1>@Model.Name</h1>
    </div>
    <div class="col-sm-4">
        <h1>@Model.Email</h1>
    </div>
</div>
